# ========================
# Gradle
# ========================
.gradle/
build/

# ========================
# IDEs
# ========================
*.iml
.idea/
*.ipr
*.iws
.vscode/

# ========================
# Java
# ========================
*.class
*.jar
*.war
*.ear

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log
logs/
RUNNING_PID

# ========================
# Misc
# ========================
*.swp
*.swo

# ========================
# JPro specific
# ========================
frontend/logs/
frontend/RUNNING_PID
frontend/build/
frontend/.gradle/
